---
import Layout from "../layouts/Layout.astro";
import RepoCard from "../components/RepoCard.astro";
---

<Layout>
  <div class="space-y-6">
    <h1 class="text-3xl font-semibold border-b-3 border-dashed w-fit">About</h1>
    <div>
      <RepoCard repo="Laznology/hinode" />
    </div>
  </div>
</Layout>
