---
const today = new Date()
---
<footer class="border-t border-border border-dashed">
  <div class="text-center text-sm text-muted-foreground pt-8 pb-4">
    <p>&copy; {today.getFullYear()} Lorem ipsum. All rights reserved.</p>
    <div class="mt-4 flex justify-center gap-4">
    <a class="text-blue-500 font-semibold" href="/rss.xml" class="hover:text-foreground">RSS</a>
    <a class="text-blue-500 font-semibold" href="/sitemap-index.xml" class="hover:text-foreground">Sitemap</a>
    </div>
    <p class="mt-4">Powered by <a href="https://astro.build" class="hover:text-foreground">Astro</a></p>
  </div>
</footer>