---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Sidebar from "../components/Sidebar.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="flex md:hidden justify-between items-center p-2 border-b">
      <h1 class="font-bold !text-2xl">Hinode</h1>

      <button
        id="menu-toggle-btn"
        aria-label="Mobile navigation button"
        class="z-20"
      >
        <svg
          id="burger-icon"
          class="h-6 w-6"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        <svg
          id="close-icon"
          class="h-6 w-6 hidden"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </header>

    <div class="flex min-h-screen mx-auto container gap-2 md:gap-4 p-6">
      <div class="hidden md:block md:w-64 md:flex-shrink-0">
        <Sidebar />
      </div>

      <aside
        id="mobile-menu"
        class="fixed top-0 left-0 bg-background w-full transform -translate-x-full transition-transform duration-300 ease-in-out z-10 md:hidden"
      >
        <Sidebar />
      </aside>

      <div id="overlay" class="fixed inset-0 bg-black/10 z-0 hidden md:hidden">
      </div>

      <main class="flex-1">
        <div
          class="w-full max-w-5xl bg-accent p-6 rounded-md space-y-6 min-h-fit"
        >
          <slot />
        </div>
      </main>
    </div>

    <script>
      const menuButton = document.getElementById("menu-toggle-btn");
      const mobileMenu = document.getElementById("mobile-menu");
      const overlay = document.getElementById("overlay");
      const burgerIcon = document.getElementById("burger-icon");
      const closeIcon = document.getElementById("close-icon");

      function toggleMenu() {
        mobileMenu?.classList.toggle("-translate-x-full");

        overlay?.classList.toggle("hidden");

        burgerIcon?.classList.toggle("hidden");
        closeIcon?.classList.toggle("hidden");
      }

      menuButton?.addEventListener("click", toggleMenu);
      overlay?.addEventListener("click", toggleMenu);
    </script>
  </body>
</html>
